<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}    
    {{> "systems/afmbe-jesuisfrog/templates/components/item-sheet-header.hbs"}}
    
    <section>
        <div class="description-container">
            {{> systems/afmbe-jesuisfrog/templates/components/item-attribute-sidebar.hbs notAspect=false}}
            {{> "systems/afmbe-jesuisfrog/templates/components/item-description-sidebar.hbs"}}
        </div>
    </section>
</form>
