<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="item-sheet-header">
        <h1 class="item-header-container">
            <img class="item-img" src="{{item.img}}" data-edit="img">
            <input type="text" name="name" value="{{item.name}}" placeholder="Name">
        </h1>
    </div>

    <section>
        <div class="description-container">
            <div class="item-attribute-sidebar">
                <h2>Attributes</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Equipped</th>
                            <td>
                                <div class="item-attribute-flex-container">
                                    <input type="checkbox" name="data.equipped" {{checked data.equipped}}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            <td><input type="text" name="data.qty" value="{{data.qty}}"></td>
                        </tr>
                        <tr>
                            <th>Armor Value</th>
                            <td><input type="text" name="data.armor_value" value="{{data.armor_value}}"></td>
                        </tr>
                        <tr>
                            <th>EV</th>
                            <td><input type="number" name="data.encumbrance" value="{{data.encumbrance}}"></td>
                        </tr>
                        <tr>
                            <th>Cost</th>
                            <td><input type="number" name="data.cost" value="{{data.cost}}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="item-description-sidebar">
                <h2 class="item-desc">Description</h2>
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>
</form>