<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="item-sheet-header">
        <h1 class="item-header-container">
            <img class="item-img" src="{{item.img}}" data-edit="img">
            <input type="text" name="name" value="{{item.name}}" placeholder="Name">
        </h1>
    </div>

    <section>
        <div class="description-container">
            <div class="item-resource-container">
                <table>
                    <thead>
                        <tr>
                            <th>Equipped</th>
                            <th>Qty</th>
                            <th>Armor Value</th>
                            <th>EV</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="data.equipped" {{checked data.equipped}}></td>
                            <td><input type="text" name="data.qty" value="{{data.qty}}"></td>
                            <td><input type="text" name="data.armor_value" value="{{data.armor_value}}"></td>
                            <td><input type="number" name="data.encumbrance" value="{{data.encumbrance}}"></td>
                            <td><input type="number" name="data.cost" value="{{data.cost}}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2 class="item-desc">Description</h2>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>