<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="item-sheet-header">
        <h1 class="item-header-container">
            <img class="item-img" src="{{item.img}}" data-edit="img">
            <input type="text" name="name" value="{{item.name}}" placeholder="Name">
        </h1>
    </div>

    <section>
        <div class="description-container">
            <div class="item-resource-container">
                <table>
                    <thead>
                        <tr>
                            <th>Range</th>
                            <th>Damage</th>
                            <th colspan="2">Capacity</th>
                            <th>EV</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="data.range" value="{{data.range}}"></td>
                            <td><input type="text" name="data.damage" value="{{data.damage}}"></td>
                            <td><input type="number" name="data.capacity.value" value="{{data.capacity.value}}"></td>
                            <td><input type="number" name="data.capacity.max" value="{{data.capacity.max}}"></td>
                            <td><input type="number" name="data.encumbrance" value="{{data.encumbrance}}"></td>
                            <td><input type="number" name="data.cost" value="{{data.cost}}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2 class="item-desc">Description</h2>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>