<div class="aspects-container">
    <h2 id="aspect-header" class="header-with-button">
        <button type="button" class="create-item" data-create="aspect">+</button>
        <span>Aspects</span>
    </h2>
    <table class="item-table">
        <thead>
            <tr>
                <th class="table-left-align">Name</th>
                <th>Power</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each actor.aspect as |item id|}}
            <tr class="item" data-item-id="{{item._id}}">
                <td class="item-name">{{item.name}}</td>
                <td class="table-center-align">{{item.system.power}}</td>
                <td class="table-center-align"><a class="item-control item-delete" title="Delete Item"><i
                            class="fas fa-trash"></i></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>