<div class="equipment-header">
    <div class="encumbrance-resource">
        <h2>Lifting Capacity</h2>
        <div>{{actor.system.encumbrance.lifting_capacity}} lbs</div>
    </div>
    <div class="encumbrance-resource">
        <h2>Current Weight</h2>
        <div>{{actor.system.encumbrance.value}} lbs</div>
    </div>
    <div class="encumbrance-resource">
        <h2>Max Carry Limit</h2>
        <div>{{actor.system.encumbrance.max}} lbs</div>
    </div>
</div>