<div class="polaroid-container">
    <img class="polaroid" src="systems/afmbe-jesuisfrog/images/polaroid.png">
    <img class="profile-img" data-edit="img" src="{{actor.img}}">
    <div class="sheet-nav-container">
        <nav class="sheet-nav sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="core">Core</a>
            <a class="item" data-tab="equipment">Equipment</a>
        </nav>
        <select id="characterTypeSelect" name="system.characterType" data-type="String">
            {{#selectOptions actor.system.characterTypes selected=actor.system.characterType}}
            {{/selectOptions}}
        </select>
    </div>
    <div class="profile-tags-container">
        <div class="tags-flex-container"></div>
    </div>
    <div class="xp-container">
        <div class="xp-flex-container">
            <h2>XP</h2>
            <input type="number" name="system.xp" value="{{actor.system.xp}}">
        </div>
    </div>
</div>